<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Anfitrion</title>
	</head>
<body>
	<h1>Hola Velocity</h1>
	<form action="/saludar" method="POST">
		<input type="text" name="nombre">
		<select name="idioma">
			<option value="EN">Ingles</option>
			<option value="ES">Español</option>
			<option value="FR">Frances</option>
		</select>

		<select name="hora">
			<option value="0">12:00 am</option>
			<option value="1">1:00 am</option>
			<option value="2">2:00 am</option>
			<option value="3">3:00 am</option>
			<option value="4">4:00 am</option>
			<option value="5">5:00 am</option>
			<option value="14">14:00 pm</option>
			<option value="20">20:00 pm</option>
		</select>

		<input type="submit" name="" value="enviar">
	</form>
</body>
</html>