<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mortal Kombat</title>
</head>
<body>
	<h1>Choose your character</h1>
	<form action="/combate" method="POST">
		<label>Pick your warrior</label>

		<select name="personaje">
			<option value="Sub-Zero">Sub-Zero</option>
		</select>
		
		<label>Pick your enemy</label>

		<select name="oponente">
			<option value="Scorpion">Scorpion</option>
		</select>

		<input type="submit" value="Kombat!" />
	</form>
	
</body>
</html>