<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kombat</title>
</head>
<body>
	<h1>Fight!</h1>

	<label id="vida-personaje"><%= session['personaje'] %>: 100</label>

	<div id="panel-golpes-personaje" name="panel-golpes-personaje">
		<button id="golpe-alto-personaje" name="golpe-alto-personaje" value="golpe-alto-personaje">golpe alto</button>
	</div>

	<label id="vida-oponente"><%= session['oponente'] %>: 100</label>
</body>
</html>