<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mortal Kombat</title>
</head>
<body>
	<h1>Mortal Kombat</h1>
	<form action="/iniciar" method="POST">
		<input type="submit" id="iniciar" value="start">
	</form>
</body>
</html>