<html>
	<body>
		<h1>Bienvenido al juego de tennis</h1>

		<form action="/iniciar" method="post">
			<input type="text" name="txt-jugador1" value="" />
			<input type="text" name="txt-jugador2" value="" />

			<input type="submit" name="iniciar" value="iniciar" />
		</form>
	</body>
</html>
